<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
	<title>Tambah Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
<div align="center">
	<br>
	<p th:text="${message}"></p>
	<br>
	<form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
	<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Tambah Pegawai</h3>
                </div>
                <div class="card-body">
	<table class="table table-striped table-bordered" style="width:100%">
		<tr>
			<td>Nama</td>
			<td><input required type="text" name="nama" class="form-control" /></td>
		</tr>
		<tr>
			<td>Tempat Lahir</td>
			<td><input required type="text" name="tempat_lahir" class="form-control" /></td>
		</tr>
		<tr>
			<td>Tanggal Lahir</td>
			<td><input required type="date" name="tanggal_lahir" class="form-control" /></td>
		</tr>
		<tr>
			<td>Tahun Masuk</td>
			<td><input required type="number" name="tahun_masuk" class="form-control" /></td>
		</tr>
		<tr>
			<td>Provinsi</td>
			<td>
				<select class="form-control" required name="provinsi" id="provinsi">
					<option>-</option>
					<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Instansi</td>
			<td>
				<select class="form-control" required name="instansi" id="instansi" th:value="instansi">
					<option disabled selected>-</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Jabatan</td>
			<td>
				<select class="form-control" required name="jabatan" id="jabatan">
					<option value="">-</option>
					<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
				</select>
			</td>
		</tr>
	</table>
	</div>
	</div>
	</div>
	</div>
	</div>
		<br>
		<button type="submit" class="btn btn-primary">Simpan</button>
	</form>
	<br>
	</div>

<script>
    $('#provinsi').change(
        function() {
            $.getJSON("http://localhost:8080/provinsi/instansi", {
                idProvinsi : $(this).val(),
                ajax : 'true'
            }, function(data) {
                var html = '<option>-</option>';
                var len = data.length;
                for ( var i = 0; i < len; i++) {
                    html += '<option value="' + data[i].id + '" + th:text="'+ data[i].nama'">'
                            + data[i].nama + '</option>';
                }
                $('#instansi').html(html);
            });
        });
    
    $('#instansi').change(
			function(){
				$.getJSON("/instansi", {
	                idInstansi : $(this).val(),
	                ajax : 'true'
	            },
	            function(data) {
	                this.value = data;
	            });
			});
</script>

</body>
</html>

